.submitBtn {
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.submitBtn:hover {
    width: 100%;
    padding: 10px;
    background-color: gainsboro;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fieldDescriber {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}