services:
  db:
    image: pgrouting/pgrouting:16-3.5-3.6
    container_name: spdb_db
    environment:
      POSTGRES_DB: routing_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: